<section class="hero text-center">
    <h1 class="title text-light">
        Hand picked curated jobs for law students in Germany
    </h1>
    <div class="search-bar mt-4 d-flex align-items-center position-relative">
        <i class="fas fa-search search-icon mx-2"></i>
        <input 
          type="text" 
          class="form-control" 
          [placeholder]="dynamicText+cursorSign" 
          [(ngModel)]="searchQuery" 
        />
    </div>
</section>

<section class="job-list mt-5">
    <div class="job-card d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <div class="company-logo">
                <div class="logo-text">RA Wolfgang Tiede, LL.M</div>
            </div>
            <div class="job-infos ms-5">
                <h2 class="job-title">Studentische Hilfskraft (m/w/d) gesucht</h2>
                <div class="tags mt-3">
                    <span class="tag homeoffice">
                    <i class="fas fa-map-marker-alt"></i> Homeoffice
                    </span>
                    <span class="tag">
                    <i class="fas fa-briefcase"></i> Recherchetätigkeiten
                    </span>
                </div>
            </div>
        </div>
        <a [routerLink]="['job/detail','semester-tree']" class="apply-btn">
            Apply <i class="fas fa-arrow-right"></i>
        </a>
        <div class="semester">
            <i class="fa-solid fa-calendar"></i>
            <span class="semester-text">SEMESTER</span>
            <span class="semester-number">3+</span>
        </div>
    </div>

    
    <div class="job-card d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <div class="company-logo">
                <div class="logo-text">Werkstudent (m/w/d) im Bereich Jura</div>
            </div>
            <div class="job-infos ms-5">
                <h2 class="job-title">Werkstudent (m/w/d) im Bereich Jura</h2>
                <div class="tags mt-3">
                    <span class="tag homeoffice">
                    <i class="fas fa-map-marker-alt"></i> Homeoffice
                    </span>
                    <span class="tag">
                        <i class="fas fa-briefcase"></i> Vertragsklauseln
                    </span>
                    <span class="tag">
                        <i class="fas fa-briefcase"></i> Übersetzung
                    </span>
                </div>
            </div>
        </div>
        <a [routerLink]="['job/detail','semester-one']" class="apply-btn">
            Apply <i class="fas fa-arrow-right"></i>
        </a>
        <div class="semester">
            <i class="fa-solid fa-calendar"></i>
            <span class="semester-text">SEMESTER</span>
            <span class="semester-number">1+</span>
        </div>
    </div>
</section>
<section class="contact mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-light">Get new jura studentjobs sent to your inbox.</h1>
        <div class="contact-form">
            <form>
                <h2>Leave Us Your Info.</h2>
                <div class="form-group mt-5">
                    <input class="form-control" type="text" placeholder="Your Name" required>
                </div>
                <div class="form-group mt-3">
                    <input class="form-control" type="email" placeholder="Your Email" required>
                </div>
                <button type="submit" class="btn btn-danger mt-5">
                    Submit <i class="fa fa-arrow-right"></i>
                </button>
            </form>
        </div>
    </div>
</section>