.semester i {
    font-size: 70px;
}
.semester-text {
    font-size: 10px;
}
.semester-number {
    font-size: 20px;
}
.semester {
    transform: translateY(-40px);
}
.semester i {
    transform: translateY(25px);
}
.semester-text {
    transform: translateY(-15px);
}
.semester-number {
    transform: translateY(-20px);
}